@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat';
}

.pin-spacer {
  background-color: white;
}

.cover .title-container {
  position: absolute;
  /* height: 100%; */
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* background: #000; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover .intro {
  font-size: 3vw;
}
.cover .main-intro {
  mix-blend-mode: multiply;
  font-size: 25vh;
  line-height: 1;
  letter-spacing: -10px;
  /* margin-top: -20px; */
}

#people g{
  fill: #93c13d;
}

/* #people g.moneter{
  fill: orange;
  fill-opacity: 1;
}

#people g.both{
  fill: gray;
  fill-opacity: 1;
}

#people g.multi{
  fill: red;
  fill-opacity: 1;
} */